{% extends 'user/layout_user.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="user.css">
{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Hello je suis le user</h1>
{% endblock %}