{% extends 'layout.html.twig' %}

{% block body %}
    <form action="index.php?section=add" method="post" enctype="multipart/form-data">
        <div>
            <label for="image">Images</label>
            <input name="images[]" id="image" type="file" multiple required>
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
{% endblock %}