{% extends 'layout.html.twig' %}

{% block body %}
    <form action="index.php?section=add" method="post">
        <div>
            <label for="email">Votre email</label>
            <input name="email" id="email" type="email" placeholder="Votre email" required>
        </div>
        <div>
            <label for="mdp">Votre mot de pass</label>
            <input name="mdp" id="mdp" type="password" placeholder="Votre mdp" required>
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
{% endblock %}