/************************************************\
==================================================
1. Font
2. Navbar
3. Citation
4. Footer
==================================================
\************************************************/

/************************************************\
==================================================
1. Font
==================================================
\************************************************/
@font-face {
    font-family: 'Folkard';
    src: url('../fonts/folkard_.ttf');
}

.kaamelott-font {
    font-family: 'Folkard';
}

/************************************************\
==================================================
2. Navbar
==================================================
\************************************************/

.navbar, .container .jumbotron {
    border-radius: 0px;
}

.navbar-brand.kaamelott-font {
    line-height: 30px;
    font-size: 20px;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-brand.kaamelott-font:hover {
    color: #ddd;
}

/************************************************\
==================================================
3. Citation
==================================================
\************************************************/

.kaamelott-underline {
    border-bottom: solid 5px #a57824;
}

.kaamelott-banner.jumbotron {
    background-image: url('../img/kaamelott-banner.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

p.source {
    text-align: right;
}

.quote {
    height: 150px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}

.quote .hider {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: linear-gradient(0deg, #fff, transparent);
}

.thumbnail .img-box {
    max-height: 200px;
    overflow: hidden;
}

.thumbnail .img-box img {
    width: 100%;
}

.thumbnail {
    height: 420px;
    max-width: 500px;
    margin: auto;
    margin-bottom: 15px;
}

.thumbnail blockquote {
    padding: 10px;
    border-left: none;
}

blockquote {
    border-left: 5px solid #a57824;
}

.item-actions {
    text-align: right;
    padding: 0 5px;
}

.btn.btn-kaamelott {
    background-color: #a57824;
    color: white;
}

.btn.btn-kaamelott:hover {
    background-color: #996f21;
}

/************************************************\
==================================================
4. Footer
==================================================
\************************************************/

footer{
    margin-bottom: 10px;
}
footer ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

footer ul li {
    display: inline-block;
    padding: 0 10px;
}
